.invoice-container{
    width:50%;
    display:flex;
    flex-direction: 'row';
    justify-content:'center';
}

.invoice-container-image{
    width:300px;
    height:'auto';
    padding:0;
    margin:0;
    display:flex;
    align-items:center;
}

.invoice-container-image img{
    width:200px
}